@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <style>
        .alp
        {
            display:flex;
            background-color:black;
            flex-direction:column;
            flex-wrap:wrap;
            justify-content:space-around;
        }
        .alp > div
        {
            padding:20px;
            background-color:skyblue;
            margin:10px;
        }
    </style>
</head>
<body>
    <div class="alp">
        <div>
            A
        </div>
        <div>
            L
        </div>
        <div>
            P
        </div>
        <div>
            A
        </div>
        <div>
            R
        </div>
        <div>
            S
        </div>
        <div>
            L
        </div>
        <div>
            A
        </div>
        <div>
            N
        </div>
    </div>

</body>

</html>